body{
    padding: 3%
}

.holder{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#game{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 35%;
    padding-left: 4%;
    /* flex-wrap: wrap; */
    order: 1; 
}

.form-group{
    height: 50%;
}

#chat{
    order: 2;
    width: 55%;
}

textarea {
    resize: none;
    height: 80vh;
    width: 100%;
}